.search-results {
	padding: 40px 104px;
	background-color: #f5f6f7;
}

.card-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 20px;
	margin-bottom: 30px;
}

.show-more-btn {
	display: block;
	margin: 0 auto;
	padding: 20px 98px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 18px;
	border: none;
	border-radius: 80px;
	background-color: #fff;
	color: #1a1b22;
	cursor: pointer;
	transition: background-color 0.3s;
}

.show-more-btn:hover {
	background-color: #e8e8e8;
}
