.page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.page__content {
  width: 100%;
  max-width: unset;
  padding: 0;
}

@media screen and (max-width: 780px) {
  .page {
    max-width: 780px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}
