.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 104px 13px 104px;
  border-bottom: 1px solid #d1d2d6;
}

.header__link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.header__name {
  font-family: "Roboto Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
}

.header__right {
  display: flex;
  flex-direction: row;
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 42px;
}

.header__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  background-color: #ccc; /* placeholder color */
  color: #fff; /* text color for the initial */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* circular placeholder */
  font-weight: bold;
  font-size: 1rem;
}

.header__home-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.header__signin-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 176px;
  height: 48px;
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 100px;
  cursor: pointer;
  background-color: transparent;
}

.header__button-text {
  display: inline;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding: 0;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .header {
    margin: 0 auto;
    max-width: calc(100% - 40px);
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 16px 0 14px;
  }

  .header__logo {
    margin: 0 auto;
    padding: 0;
  }

  .header__button {
    margin: 0 auto;
    padding: 0;
  }

  .header__button-text {
    vertical-align: middle;
  }

  .header__user-container {
    margin: 0 auto;
  }

  .header__username {
    margin: 0;
  }

  .header__avatar {
    display: none;
  }
}
