.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 104px 13px 104px;
  border-bottom: 1px solid #d1d2d6;
}

.header__link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.header__name {
  font-family: "Roboto Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
}

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 42px;
}

.header__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1rem;
}

.header__home-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding-top: 13px;
  text-decoration: none;
}

.header__button-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
}

.header__saved-button {
  padding-top: 13px;
  text-decoration: none;
}

.header__signin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 48px;
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 100px;
  cursor: pointer;
  background-color: transparent;
}

.header__signin-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
}

.header__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  max-height: 48px;
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 100px;
  cursor: pointer;
  background-color: transparent;
}

.header__username {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.header__logout {
  width: 24px;
  height: 24px;
}

.header__home-button::after {
  content: "";
  position: relative;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}

.header_theme_dark .header__profile{
  color: #1a1b22 !important;
  border-color: #1a1b22 !important;
}

.header_theme_dark .header__button-text {
  color: #1a1b22 !important;
}

.header_theme_dark .header__link {
  color: #1a1b22 !important;
}

.header_theme_dark .header__logout {
  content: url(../../assets/logout-profile.png);
}

@media screen and (max-width: 768px) {
  .header {
    padding: 22px 40px 18px 40px;
  }

  .header__signin-button {
    width: 152px;
    height: 40px;
    padding: 8px;
  }

  .header__button-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 380px) {
  .header {
    margin: 0 auto;
    max-width: calc(100% - 40px);
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 16px 0 14px;
  }

  .header__logo {
    margin: 0 auto;
    padding: 0;
  }

  .header__button {
    margin: 0 auto;
    padding: 0;
  }

  .header__button-text {
    vertical-align: middle;
  }

  .header__user-container {
    margin: 0 auto;
  }

  .header__username {
    margin: 0;
  }

  .header__avatar {
    display: none;
  }
}
