.modal__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__to-login {
  display: flex;
  align-items: center;
  margin-top: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #000000;
  gap: 4px;
}

.modal__login-button-text {
  color: #2f71e5;
  cursor: pointer;
  text-decoration: none;
}
